---
import "../../styles/global.css";
import MainLayout from "../../layouts/MainLayout.astro";
import Header from "../../components/Header.astro";
import SectionContainerBlog from "../../components/SectionContainerBlog.astro";
import RegressionAside from '../../components/RegressionAside.astro';
import RegressionIcon from "../../components/icons/RegressionIcon.astro";
import RegressionCode from "../../components/RegressionCode.astro";
import ClassificationIcon from "../../components/icons/ClassificationIcon.astro";
---

<MainLayout
    title="Porfolio de Emanuel Fitta - Data Science - Data Analysis - Business Intelligence"
    description="Data Science - Data Analysis - Business Intelligence. Especializado en An谩litica Avanzada"
    showFooter={false}
>
    <Header
        inicioHref="/"
        aboutHref="/#about"
        experienceHref="/#experience"
        projectsHref="/#projects"
        blogHref="/blog"
    />
    <main class="px-4" class="px-4 pt-20">
        <aside
            id="default-sidebar"
            class="fixed top-30 z-40 w-52 sm:w-60 lg:w-75 h-screen transition-transform xs:translate-x-0"
            aria-label="Sidebar"
        >
            <div class="h-full px-3 py-4 overflow-y-auto">
                <ul class="space-y-2 px-5 font-medium">
                    <li>
                        <span class="py-10">Aprendizaje Supervisado</span>
                    </li>
                    <ul class="space-y-2 px-5 font-medium">
                        <li>
                            <div
                                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group"
                            >
                                <RegressionIcon
                                    class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                />
                                <span class="ms-3">Regresi贸n</span>
                            </div>
                        </li>
                        <RegressionAside/>
                        <li>
                            <div
                                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group"
                            >
                                <ClassificationIcon
                                    class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                />
                                <span class="ms-3">Clasificaci贸n</span>
                            </div>
                        </li>
                    </ul>
                    <hr
                        class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700"
                    />
                    <li>
                        <span class="py-10">Aprendizaje No Supervisado</span>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="flex-1 ml-65 px-20">
            <SectionContainerBlog
                class="flex flex-col items-center max-w-[1000px] lg:items-start w-full mx-auto py-20 pb-55"
            >
                <h1
                    id="cheat-sheet-ml"
                    class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight text-gray-800 dark:text-white flex items-center gap-x-4 py-10 scroll-mt-22"
                >
                    Cheat Sheet Machine Learning
                </h1>
                <p
                    class="mt-6 max-w-[800px] text-md text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
                >
                    En esta secci贸n se mostrar谩n ejemplos de implementaci贸n de
                    los algoritmos m谩s conocidos de <b class="text-yellow-400"
                        >Machine Learning</b
                    > con datasets de juguete. En la barra de la izquierda puedes
                    seleccionar el algoritmo.
                </p>
                <RegressionCode />
            </SectionContainerBlog>
        </div>
    </main>
</MainLayout>

<script type="module">
    function iniciarTabs() {
        //console.log("Tabs inicializados");

        const tabs = document.querySelectorAll("[data-name-nav]");
        const tabPanels = document.querySelectorAll("[role='complementary']");

        tabs.forEach((tab) => {
            tab.addEventListener("click", function () {
                const targetPanel = document.querySelector(tab.dataset.nameNav);

                tabPanels.forEach((panel) => panel.classList.add("hidden"));
                tabs.forEach((otherTab) =>
                    otherTab.classList.remove(
                        "text-blue-600",
                        "dark:text-blue-500",
                    ),
                );

                targetPanel.classList.remove("hidden");
                tab.classList.add("text-blue-600", "dark:text-blue-500");
            });
        });

        //tabs[0]?.click();
    }

    //  Esperar que Astro cargue completamente antes de ejecutar
    setTimeout(iniciarTabs, 50);
    document.addEventListener("DOMContentLoaded", iniciarTabs);
    document.addEventListener("astro:after-swap", iniciarTabs);
</script>
