<ul class="space-y-0 px-1 text-xs text-left">
    <li>
        <button
            id="stack-tab"
            data-name-nav="#stack"
            type="button"
            role="tab"
            aria-controls="stack"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Stack</span>
        </button>
    </li>
    <li>
        <button
            id="queue-tab"
            data-name-nav="#queue"
            type="button"
            role="tab"
            aria-controls="queue"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Queue</span>
        </button>
    </li>
    <li>
        <button
            id="deque-tab"
            data-name-nav="#deque"
            type="button"
            role="tab"
            aria-controls="deque"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Deque</span>
        </button>
    </li>
    <li>
        <button
            id="linked-list-tab"
            data-name-nav="#linked-list"
            type="button"
            role="tab"
            aria-controls="linked-list"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Linked List</span>
        </button>
    </li>
    <li>
        <button
            id="hashmap-tab"
            data-name-nav="#hashmap"
            type="button"
            role="tab"
            aria-controls="hashmap"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Hash Table</span>
        </button>
    </li>
    <li>
        <button
            id="set-tab"
            data-name-nav="#set"
            type="button"
            role="tab"
            aria-controls="set"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Set</span>
        </button>
    </li>
    <li>
        <button
            id="array-tab"
            data-name-nav="#array"
            type="button"
            role="tab"
            aria-controls="array"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Array</span>
        </button>
    </li>
    <li>
        <button
            id="heap-tab"
            data-name-nav="#heap"
            type="button"
            role="tab"
            aria-controls="heap"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Heap</span>
        </button>
    </li>
<!--
    <li>
        <button
            id="binary-tree-tab"
            data-name-nav="#binary-tree"
            type="button"
            role="tab"
            aria-controls="binary-tree"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Binary Tree</span>
        </button>
    </li>
    <li>
        <button
            id="graph-tab"
            data-name-nav="#graph"
            type="button"
            role="tab"
            aria-controls="graph"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Graph</span>
        </button>
    </li>
-->
</ul>
