<ul class="space-y-0 px-1 text-xs text-left">
    <li>
        <button
            id="lr-tab"
            data-name-nav="#lr"
            type="button"
            role="tab"
            aria-controls="lr"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Regresión Lineal</span>
        </button>
    </li>
    <li>
        <button
            id="reg-poly-tab"
            data-name-nav="#reg-poly"
            type="button"
            role="tab"
            aria-controls="reg-poly"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Regresión Polinómica</span>
        </button>
    </li>
    <li>
        <button
            id="ridge-tab"
            data-name-nav="#ridge"
            type="button"
            role="tab"
            aria-controls="ridge"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Regresión Ridge</span>
        </button>
    </li>
    <li>
        <button
            id="lasso-tab"
            data-name-nav="#lasso"
            type="button"
            role="tab"
            aria-controls="lasso"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Regresión Lasso</span>
        </button>
    </li>
    <li>
        <button
            id="decision-tree-reg-tab"
            data-name-nav="#decision-tree-reg"
            type="button"
            role="tab"
            aria-controls="decision-tree-reg"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Árboles de Decisión</span>
        </button>
    </li>
    <li>
        <button
            id="random-forest-reg-tab"
            data-name-nav="#random-forest-reg"
            type="button"
            role="tab"
            aria-controls="random-forest-reg"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Random Forest</span>
        </button>
    </li>
    <li>
        <button
            id="sup-vect-reg-tab"
            data-name-nav="#sup-vect-reg"
            type="button"
            role="tab"
            aria-controls="sup-vect-reg"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">Support Vector Regressor</span>
        </button>
    </li>
    <li>
        <button
            id="xgb-reg-tab"
            data-name-nav="#xgb-reg"
            type="button"
            role="tab"
            aria-controls="xgb-reg"
            aria-selected="false"
            class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-400 group"
        >
            <span class="ms-3">XGBoost Regressor</span>
        </button>
    </li>
</ul>
