---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BlogComponent from "../components/BlogComponent.astro";
import BlogIcon from "../components/icons/BlogIcon.astro";
import Header from "../components/Header.astro";
---

<MainLayout
    title="Porfolio de Emanuel Fitta - Data Science - Data Analysis - Business Intelligence"
    description="Data Science - Data Analysis - Business Intelligence. Especializado en Análitica Avanzada"
>
    <main class="px-4">
        <Header
            inicioHref="/"
            aboutHref="/#about"
            experienceHref="/#experience"
            projectsHref="/#projects"
            blogHref="#top"
        />
        <SectionContainer
            id="blog"
            class="flex flex-col items-start max-w-[700px] mx-auto py-44 pb-55 scroll-mt-22"
        >
            <h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
                <BlogIcon class="size-8" />
                Blog
            </h2>

            <BlogComponent />
        </SectionContainer>
    </main>
</MainLayout>
