---
 const personalImageAlt = "Emanuel Fitta"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Emanuel, apasionado de la naturaleza, soy un Físico Matemático que disfruta el aprendizaje continuo y la aplicación de la estadística 
      y las matemáticas en el <strong>análisis y la ciencia de datos</strong>. 
    </p>

    <p>
      Entre los modelos que he desarrollado, se encuentran <strong>predicción de demanda, segmentación de clientes, 
      price elasticity, Customer Lifetime Value y churn prediction</strong>, optimizando estrategias de negocio y mejorando la toma de decisiones, para 
      diversas áreas de negocio, como <strong>Growth, Producto y Pricing</strong>, utilizando técnicas de análisis avanzado y servicios en la nube como
      Azure.
    </p>

    <p>
        Además de mi trabajo en ciencia de datos, la enseñanza es una de mis grandes pasiones. 
        He impartido clases de <strong>matemáticas, física, machine learning y programación</strong> en todos los niveles pues 
        disfruto compartir conocimientos y apoyar el crecimiento de otros profesionales en su desarrollo de carrera. 
    </p>
  </div>

  <img width="200" height="200" src="/photo.jpeg" alt={personalImageAlt} 
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 hover:rotate-0 transition-transform duration-300 
           lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 
           ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%">

</article>